.newspage {
   background-image: linear-gradient(tan, rgb(185, 128, 70));
   margin-top: none;
   margin-left: 5%;
   margin-right: 5%
 }

 .weather {
   margin-left: 5%;
   margin-right: 5%
 }

.current {
   background-color: rgba(33, 143, 247, 0.404);
   margin-top: none;
 }

 .tom {
   background-color: rgba(24, 108, 187, 0.404);
   background-size: cover;
   margin-top: none;
 }

 .next {
   background-color: rgba(19, 84, 145, 0.404);
   background-size: cover;
   margin-top: none;
 }


.subtitle {
    font-style: italic
}

.ask {
    background-image: radial-gradient(lightblue, rgb(113, 181, 236) );
    background-size: cover
}